@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

* {
  font-family: 'Poppins', sans-serif;
}


:root {
  --primary: #7a4406;
  --primary-lighter: #e79639;
  --bBack: #0f0f0f;
  --lightText: #eeeeee;
  --lightText2: #b4b4b4;
}

html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #8d2c2c;
  min-height: 100%;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
